.tagline,
li {
    text-wrap: balance;
}

@font-face {
    font-family: "JetBrains Mono Nerd Font Propo";
    src: url("/fonts/JetBrainsMonoNerdFontPropo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-mono:
        "JetBrains Mono Nerd Font Propo", ui-monospace, SFMono-Regular, Menlo,
        Monaco, "Roboto Mono", monospace;
}

@layer my-overrides {
    code,
    pre,
    .astro-code,
    .expressive-code {
        font-family: var(--font-mono) !important;
        font-variant-ligatures: contextual;
        line-height: 1.5em !important;
    }
}
